@page "{Boekid}"
@model WebDevStripboeken.Pages.Bezit

@{
Layout = "_Layout";
ViewData["Title"] = "Your Collections";
ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}

<div class="row">
    <h2>Een stripboek aan je account toevoegen</h2>
    
    <form method="post" id="BoekToevoegen" name="BoekToevoegen">
        <div class="input-group mb-3">
            <input type="text" class="form=control" id="locatie" name="Locatie" asp-for="toevoegenboek.Locatie" value="" placeholder="Waar bewaart u het stripboek?"/>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form=control" id="status" name="Status_exemplaar" asp-for="toevoegenboek.Status_exemplaar" value="" placeholder="In welke status is het exemplaar?"/>
        </div>
        <div class="input-group mb-3">
            <input type="double" class="form=control" id="gekochtvoor" name="Gekocht_voor" asp-for="toevoegenboek.Gekocht_voor" value="" placeholder="Hoeveel heeft u er voor betaalt?"/>
        </div>
        <input type="hidden" id="Gebruiker" name="Gebruiker" asp-for="toevoegenboek.Gebruiker" value="@Model.currentUser.Gebruikersnaam"/>
        <input type="hidden" id="Boek_id" name="Boek_id" asp-for="toevoegenboek.Boek_id" value="@Model.currentBoek.Boek_id"/>
        <button class="btn btn-outline-secondary" type="submit" asp-page-handler="BoekToevoegen"><i class="fa-solid fa-magnifying-glass"></i>Toevoegen</button>
    </form>
    
</div>



@* <div class="input-group mb-3"> *@
@*     <input class="form-control" id="afbeelding_url" asp-for="SuggestStripboek.Afbeelding_urls" placeholder="Bijvoorbeeld https://static.wikia.nocookie.net/disney/images/3/3c/Donald_Duck_Finds_Pirate_Gold.jpg/revision/latest/scale-to-width-down/400"/> *@
@*     <span asp-validation-for="SuggestStripboek.Afbeelding_urls"></span> *@
@* </div> *@