@page "/ForgotPassword"
@model WebDevStripboeken.Pages.ForgotPassword
    
    @{
        Layout = "_Layout";
        ViewData["Title"] = "ForgotPassword";
        ViewData["User"] = @Model.currentUser.Gebruikersnaam;
    }

    <div class="row">
        <h2>Wachtwoord herstellen</h2>
        <form method="post" id="ForgotPassword" class="needs-validation" novalidate>
            <label for="username" class="form-label">Je gebruikersnaam:</label>
            <div class="input-group mb-3">
                <input name="User" type="text" class="form-control" id="username" placeholder="Gebruikersnaam"/>
            </div>
            <label for="password" class="form-label">Je wachtwoord:</label>
            <div class="input-group mb-3">
                <input name="WW" type="password" class="form-control" id="password" placeholder="Wachtwoord"/>
            </div>
            <label for="" class="form-label">Je speciale beveiligings tekst:</label>
            <div class="input-group mb-3">
                <input name="beveiligingsVraag" type="text" class="form-control" id="beveiligingsVraag" placeholder="Beveiligings tekst"/>
            </div>
            <button name="actionSubmit" class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-arrow-right-to-bracket fa-fw"></i>Herstel wachtwoord</button>
        </form>
    </div>