@page
@model WebDevStripboeken.Pages.Home

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div class="row">
    <h1>ALLE STRIPBOEKEN</h1><h6>(in de hele database...)</h6>
    <div class="col-8 content">
        <ul>
            <li>Stripboek 1</li>
            <li>Stripboek 2</li>
        </ul>
    </div>
    <div class="col-4 content">Selected Stripboek info</div>
</div>