@page
@model WebDevStripboeken.Pages.LogIn

@{
    Layout = "_Layout";
    ViewData["Title"] = "Log-In";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}
<div class="row">
    <h2>Log In</h2>
    <div><p>@Model.message</p></div>
    <form method="post" id="LogIn" class="needs-validation" novalidate>
        <label for="username" class="form-label">Je gebruikersnaam:</label>
        <div class="input-group mb-3">
            <input name="User" type="text" class="form-control" id="username" placeholder="Gebruikersnaam"/>
        </div>
        <label for="password" class="form-label">Je wachtwoord:</label>
        <div class="input-group mb-3">
            <input name="WW" type="password" class="form-control" id="password" placeholder="Wachtwoord"/>
        </div>

        <span>Heb je nog geen account?</span>
        <p><a class="link-info" href="../signup">Nu registreren</a></p>
        <span>Wachtwoord vergeten?</span>
        <p><a class="link-info" href="#">Nu wachtwoord herstellen</a></p>
        
        <button name="action" class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-arrow-right-to-bracket fa-fw"></i>Log in</button>
    </form>
    
</div>