@page
@model WebDevStripboeken.Pages.LogIn

@{
    Layout = "_Layout";
    ViewData["Title"] = "Log-In";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}
<div class="row">
    <h1>LOG-IN</h1>
    <div class="col-12 content" id="log-in">
        <form method="post" id="LogIn">
            <input type="text" name="User" placeholder="Username" min="2" max="32"/>
            <input type="password" name="WW" placeholder="Password"/>
            <p>Don't have an account yet?</p>
            <p><a href="../signup">Sign up now</a></p>
            <p>Forgot password?</p>
            <button type="submit" name="action">Log-In</button>
        </form>
    </div>
</div>