@page
@model WebDevStripboeken.Pages.LogIn

@{
    Layout = "_Layout";
    ViewData["Title"] = "Log-In";
    ViewData["User"] = Model.gebruiker;
}
<div class="row">
    <h1>LOG-IN</h1>
    <div class="col-12 content" id="sign-up">
        <form method="post" id="LogIn">
            <input type="text" name="newUser" placeholder="Username"/>
            <input type="text" name="newWw" placeholder="Password"/>
            <p>Don't got an account yet?</p>
            <p>Sign up now</p>
            <p>Forgot password?</p>
            <button type="submit" asp-page-handler="Login">Log-In</button>
        </form>
    </div>
</div>
<p>@Model.gebruiker --- @Model.ww</p>