@page
@model WebDevStripboeken.Pages.MyCollection

@{
    Layout = "_Layout";
    ViewData["Title"] = "My Collections";
    ViewData["User"] = @Model.currentUser.userName;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <p>Hello</p>
</div>
</body>
</html>