@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["User"] = @Model.currentUser.Gebruikersnaam;
}
<h1>@ViewData["Title"]</h1> 

<p>Use this page to detail your site's privacy policy.</p>
<a href="https://youtu.be/uveKG35itGY">You know these...@Model.currentUser.Gebruikersnaam?</a>