@page
@model WebDevStripboeken.Pages.Profile

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign-Up";
}

<div class="row">
    <div class="col-4 content">
        <div class="row content"></div>
        <div class="row content"></div>
        <div class="row content"></div>
    </div>
    <div class="col-4 content"></div>
    <div class="col-4 content"></div>
</div>