@page
@model WebDevStripboeken.Pages.Profile

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign-Up";
    ViewData["User"] = @Model.currentUser.userName;
}

<div class="row">
    <div class="col-4 content">
        <div class="row content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in nulla et orci maximus porttitor in eget lorem. Donec ipsum libero, condimentum vel hendrerit vel, bibendum vitae orci. Ut ac laoreet odio. Aliquam erat volutpat. Morbi sagittis malesuada dui ut pulvinar. Praesent lobortis lacus nec diam ultrices vestibulum. Ut mi.</p></div>
        <div class="row content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in nulla et orci maximus porttitor in eget lorem. Donec ipsum libero, condimentum vel hendrerit vel, bibendum vitae orci. Ut ac laoreet odio. Aliquam erat volutpat. Morbi sagittis malesuada dui ut pulvinar. Praesent lobortis lacus nec diam ultrices vestibulum. Ut mi.</p></div>
        <div class="row content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in nulla et orci maximus porttitor in eget lorem. Donec ipsum libero, condimentum vel hendrerit vel, bibendum vitae orci. Ut ac laoreet odio. Aliquam erat volutpat. Morbi sagittis malesuada dui ut pulvinar. Praesent lobortis lacus nec diam ultrices vestibulum. Ut mi.</p></div>
    </div>
    <div class="col-4 content">Your activity</div>
    <div class="col-4 content">Profile info</div>
</div>