@page
@model WebDevStripboeken.Pages.Settings

@{
    Layout = "_Layout";
    ViewData["Title"] = "Settings"; 
}

<div class="row">
    <h1>SETTINGS</h1>
    <h2>PROFILE SETTINGS</h2>
    <div class="col-12 content">
        <form method="post">
            <div>
                <div>Gebruikersnaam</div>
                <input asp-for="Account.gebruikersnaam" placeholder="Gebruikersnaam" min="2" max="32"/>
                <span asp-validation-for="Account.gebruikersnaam"></span>
            </div>
            <div>
                <div>Email</div> 
                <input asp-for="Account.email" placeholder="Email" min="8" max="100"/>
                <span asp-validation-for="Account.email"></span>
            </div>
            <div>
                <div>Wachtwoord</div>
                <input asp-for="Account.wachtwoord" placeholder="Wachtwoord" min="8" max="32"/>
                <span asp-validation-for="Account.wachtwoord"></span>
            </div>
            <div>
                <div>Bevestig wachtwoord</div>
                <input asp-for="Account.wachtwoordbevestiging" placeholder="Wachtwoord bevestigen" min="8" max="32"/>
                <span asp-validation-for="Account.wachtwoordbevestiging"></span>
            </div>
            <div>
                <div>Geboortedatum</div>
                <input type="date" asp-for="Account.geboortedatum" asp-format="{0:yyyy-MM-dd}" placeholder="Geboortedatum" value="0"/>
                <span asp-validation-for="Account.geboortedatum"></span>
            </div>
            <div>
                <div>Beveiligingsvraag: Wat is de naam van je laatste huisdier?</div>
                <input asp-for="Account.beveiligingsvraag" placeholder="Beveiligingsvraag" min="2" max="20"/>
                <span asp-validation-for="Account.beveiligingsvraag"></span>
            </div>
            <button type="submit" asp-page-handler="Update">Update</button>
        </form>
    </div>
</div>

<div class="row content">
    <h2>PRIVACY SETTINGS</h2> <!--Privacy settings houdt in wie een collectie of een profile kan zien-->
    <div class="form-check">
        <h3>Wie kunt je collecties zien?</h3>
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Everyone">
        <label class="form-check-label" for="Collections_Everyone">Iedereen
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Vrienden">
        <label class="form-check-label" for="Collections_Everyone">Vrienden
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Alleen_ik">
        <label class="form-check-label" for="Collections_Everyone">Alleen ik
        </label>
        <button type="submit" asp-page-handler="Update">Update</button>
        </div>
    <div class="form-check">
        <h3>Wie kunt je profiel in zien?</h3>
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Everyone" checked>
        <label class="form-check-label" for="Profile_Everyone">
            Iedereen
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Vrienden">
        <label class="form-check-label" for="Collections_Everyone">Vrienden
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Alleen_ik">
        <label class="form-check-label" for="Collections_Everyone">Alleen ik 
        </label>
        <button type="submit" asp-page-handler="Update">Update</button>
        </div>
</div>