@page
@model WebDevStripboeken.Pages.Settings

@{
    Layout = "_Layout";
    ViewData["Title"] = "Settings";
    ViewData["User"] = Model.currentUser.Gebruikersnaam;
}

<div class="row" xmlns="http://www.w3.org/1999/html">
    <h2>Instellingen</h2>
    <h3>Profiel Instellingen</h3>
    <div class="col-12 content">
        <label for="gebruikersnaam" class="form-label">Gebruikersnaam wijzigen:</label>
        <form method="post" class="needs-validation" novalidate>
            <input class="form-control" id="gebruikersnaam" type="text" name="gebruikersnaam" placeholder="Nieuwe gebruikersnaam"/>
            <button class="btn btn-outline-secondary" type="submit" asp-page-handler="UpdateGebruikersnaam"><i class="fa-solid fa-pen fa-fw"></i>Update</button>
        </form>
        <label for="email" class="form-label">Email adres wijzigen:</label>
        <form method="post" class="needs-validation" novalidate>
            <input class="form-control" id="email" type="text" name="email" placeholder="Nieuwe email"/>
            <button class="btn btn-outline-secondary" type="submit" asp-page-handler="UpdateEmail"><i class="fa-solid fa-pen fa-fw"></i>Update</button>
        </form>
        <label for="wachtwoord" class="form-label">Wachtwoord wijzigen:</label>
        <form method="post" class="needs-validation" novalidate>
            <input class="form-control" id="wachtwoord" type="password" name="wachtwoord" placeholder="Nieuwe wachtwoord"/>
            <button class="btn btn-outline-secondary" type="submit" asp-page-handler="UpdateWachtwoord"><i class="fa-solid fa-pen fa-fw"></i>Update</button>
        </form>
        <label for="geboortedatum" class="form-label">Geboortedatum wijzigen:</label>
        <form method="post" class="needs-validation" novalidate>
            <input class="form-control" id="geboortedatum" type="date" name="geboortedatum" placeholder="Nieuwe geboortedatum" asp-format="{0:yyyy:MM:dd}"/>
            <button class="btn btn-outline-secondary" type="submit" asp-page-handler="UpdateGeboortedatum"><i class="fa-solid fa-pen fa-fw"></i>Update</button>
        </form>
        <label for="beveiligingsvraag" class="form-label">Beveiligingsvraag antwoord wijzigen (de naam van je laatste huisdier):</label>
        <form method="post" class="needs-validation" novalidate>
            <input class="form-control" id="beveiligingsvraag" type="text" name="beveiligingsvraag" placeholder="Antwoord beveiligingsvraag"/>
            <button class="btn btn-outline-secondary" type="submit" asp-page-handler="UpdateBeveiligingsvraag"><i class="fa-solid fa-pen fa-fw"></i>Update</button>
        </form>
    </div>

    <h3>Privacy Instellingen</h3> <!--Privacy settings houdt in wie een collectie of een profile kan zien-->
    <div class="form-check">
        <h4>Wie kunnen je collecties zien?</h4>
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Everyone">
        <label class="form-check-label" for="Collections_Everyone">Iedereen</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Vrienden">
        <label class="form-check-label" for="Collections_Everyone">Vrienden</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Alleen_ik">
        <label class="form-check-label" for="Collections_Everyone">Alleen ik</label>
        <br>
        <button class="btn btn-outline-secondary" type="submit" asp-page-handler="Update"><i class="fa-solid fa-pen fa-fw"></i>Update</button>
    </div>
    <div class="form-check">
        <h4>Wie kunnen je profiel in zien?</h4>
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Everyone">
        <label class="form-check-label" for="Profile_Everyone">Iedereen</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Vrienden">
        <label class="form-check-label" for="Collections_Everyone">Vrienden</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Alleen_ik">
        <label class="form-check-label" for="Collections_Everyone">Alleen ik </label>
        <br>
        <button class="btn btn-outline-secondary" type="submit" asp-page-handler="Update"><i class="fa-solid fa-pen fa-fw"></i>Update</button>
    </div>
</div>