@page
@model WebDevStripboeken.Pages.Settings

@{
    Layout = "_Layout";
    ViewData["Title"] = "Settings";
    ViewData["User"] = Model.currentUser.Gebruikersnaam;
}

<div class="row">
    <h1>SETTINGS</h1>
    <h2>PROFILE SETTINGS</h2>
    <div class="col-12 content">
        <form method="post">
            <div>Gebruikersnaam wijzigen</div>
            <input type="text" name="gebruikersnaam" placeholder="Nieuwe gebruikersnaam"/>
            <button type="submit" asp-page-handler="UpdateGebruikersnaam">Update</button>
        </form>
        <form method="post">
            <div>Email wijzigen</div>
            <input type="text" name="email" placeholder="Nieuwe email"/>
            <button type="submit" asp-page-handler="UpdateEmail">Update</button>
        </form>    
        <form method="post">
            <div>Wachtwoord wijzigen</div>
            <input type="password" name="wachtwoord" placeholder="Nieuwe wachtwoord"/>
            <button type="submit" asp-page-handler="UpdateWachtwoord">Update</button>
        </form>
        <form method="post">
            <div>Geboortedatum wijzigen</div>
            <input type="date" name="geboortedatum" placeholder="Nieuwe geboortedatum" asp-format="{0:yyyy:MM:dd}"/>
            <button type="submit" asp-page-handler="UpdateGeboortedatum">Update</button>
        </form>
        <form method="post">
            <div>Wat is de naam van je laatste huisdier?</div>
            <input type="text" name="beveiligingsvraag" placeholder="Antwoord beveiligingsvraag"/>
            <button type="submit" asp-page-handler="UpdateBeveiligingsvraag">Update</button>
        </form>
        
    </div>
</div>

<div class="row content">
    <h2>PRIVACY SETTINGS</h2> <!--Privacy settings houdt in wie een collectie of een profile kan zien-->
    <div class="form-check">
        <h3>Wie kunt je collecties zien?</h3>
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Everyone">
        <label class="form-check-label" for="Collections_Everyone">Iedereen
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Vrienden">
        <label class="form-check-label" for="Collections_Everyone">Vrienden
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault1" id="Collections_Alleen_ik">
        <label class="form-check-label" for="Collections_Everyone">Alleen ik
        </label>
        <button type="submit" asp-page-handler="Update">Update</button>
    </div>
    <div class="form-check">
        <h3>Wie kunt je profiel in zien?</h3>
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Everyone" checked>
        <label class="form-check-label" for="Profile_Everyone">
            Iedereen
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Vrienden">
        <label class="form-check-label" for="Collections_Everyone">Vrienden
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault2" id="Profile_Alleen_ik">
        <label class="form-check-label" for="Collections_Everyone">Alleen ik 
        </label>
        <button type="submit" asp-page-handler="Update">Update</button>
    </div>
</div>