@page
@model WebDevStripboeken.Pages.Settings

@{
    Layout = "_Layout";
    ViewData["Title"] = "Settings"; 
}
<div class="row content">
    Account settings
</div>
<div class="row content">
    Privacy settings
</div>