@page
@model WebDevStripboeken.Pages.SignUp

@{
    Layout = "_Layout";
    ViewData["Title"] = "Sign-Up";
    // ViewData["User"] = @Model.currentUser.Gebruikersnaam;
} 

<div class="row">
    <h1>SIGN-UP</h1>
    <div class="col-12 content">
        <form method="post">
            <div>
                <div>Gebruikersnaam</div>
                <input asp-for="Account.gebruikersnaam" placeholder="gebruikersnaam" min="2" max="32"/>
                <span asp-validation-for="Account.gebruikersnaam"></span>
            </div>
            <div>
                <div>Email</div> 
                <input asp-for="Account.email" placeholder="email" min="8" max="100"/>
                <span asp-validation-for="Account.email"></span>
            </div>
            <div>
                <div>Wachtwoord</div>
                <input asp-for="Account.wachtwoord" placeholder="wachtwoord" min="8" max="32"/>
                <span asp-validation-for="Account.wachtwoord"></span>
            </div>
            <div>
                <div>Bevestig wachtwoord</div>
                <input asp-for="Account.wachtwoordbevestiging" placeholder="wachtwoord bevestigen" min="8" max="32"/>
                <span asp-validation-for="Account.wachtwoordbevestiging"></span>
            </div>
            <div>
                <div>Geboortedatum</div>
                <input type="date" asp-for="Account.geboortedatum" asp-format="{0:yyyy-MM-dd}" placeholder="geboortedatum" value="0"/>
                <span asp-validation-for="Account.geboortedatum"></span>
            </div>
            <div>
                <div>Beveiligingsvraag: wat is de naam van je laatste huisdier?</div>
                <input asp-for="Account.beveiligingsvraag" placeholder="beveiligingsvraag" min="2" max="20"/>
                <span asp-validation-for="Account.beveiligingsvraag"></span>
            </div>
            <button type="submit" asp-page-handler="SignUp">Sign Up</button>
        </form>
    </div>
</div>