@page "{Boekid}"
@using WebDevStripboeken.Pages.Shared
@model WebDevStripboeken.Pages.Stripboek

@{
    Layout = "_Layout";
    ViewData["Title"] = "Log-In";
}

<div class="row">
    <div class="col-lg-4 content">
        <img src="">
    </div>
    <div class="col-lg-8 content">
        <p>Titel: </p>
        <p>Reeks: </p>
        <p>Schrijver(s): </p>
        <p>Tekenaar(s): </p>
        <p>Jaar van uitgave: </p>
        <p>ISBN: </p>
    </div>
</div>