@page
@model WebDevStripboeken.Pages.ToevoegenTekenaars

@{
    Layout = "_Layout";
    ViewData["Title"] = "Toevoegen";
}



<div class="row">
    <label for="tekenaar" class="form-label">De illustrator(s):</label>
    <form method="post">
        @{
            <div class="input-group mb-3">
                <input class="form-control" id="tekenaar" name="Naam_Tekenaar1" placeholder="Bijvoorbeeld Carl Barks"/>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" id="tekenaar" name="Naam_Tekenaar2" placeholder="Bijvoorbeeld Carl Barks"/>
            </div>
            <div class="input-group mb-3">
                <input class="form-control" id="tekenaar" name="Naam_Tekenaar3" placeholder="Bijvoorbeeld Carl Barks"/>
            </div>
        }
        <button class="btn btn-outline-secondary" type="submit" asp-page-handler="ToevoegenTekenaars"> Toevoegen </button>
    </form>
</div>
