@page
@model WebDevStripboeken.Pages.ToevoegenAuteurs

@{
    Layout = "_Layout";
    ViewData["Title"] = "Toevoegen";
}

<div class="row">
    <label for="auteur" class="form-label">De auteur(s):</label>
    <div class="input-group mb-3">
        <input class="form-control" id="auteur" name="AuteursString" asp-for="SuggestStripboek.MyAuteurs" placeholder="Bijvoorbeeld Carl Barks"/>
        <span asp-validation-for="SuggestStripboek.MyAuteurs"></span> <!-- why no work -->
    </div>
</div>
