@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
 

}

.dropdown-container {
  position: relative;
}

.dropdown-menu{
  top: 100%;
  right: 0;
  margin-left: -100px;
}

.container {
 justify-content: left; 
  
}

body {
  margin-bottom: 60px;
  color: black;
  background-color: white;
  width: 100%;
  height: auto;
  background-image: url("../Images/grayscale_transparent1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
  
}

ul {
list-style-type: none; 
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
}

h3 {
  padding: 10px;
}

h4 {
  padding: 5px;
}

a {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
}

.dropdown-menu, dropdown-toggle {
  font-family: 'Permanent Marker', cursive;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #419fec;
}

a:active {
  text-decoration: none;
  color: #617181;
}

.dropdown-menu{
  font-family: 'Permanent Marker', cursive;
  color: #1d0dd9;
  background-color: white;
}

img {
 max-width: 100%;
}

.field-validation-error {
  color:red;
  font-size: smaller;
}
/* Original van wdw: https://webdesignerwall.com/wdw-snippet/comment-section-form-with-ratings aangepast inline met website style en functie*/
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 300px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1)
}
.comment-box {
    padding: 5px
}
.comment-area textarea {
    resize: none;
    border: 1px solid #ad9f9f
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    box-shadow: 0 0 0 1px rgb(255, 0, 0) !important
}
.send {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000
}
.send:hover {
    color: #fff;
    background-color: #47f502;
    border-color: #01963d
}
.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left
}
.rating>input {
    display: none
}
.rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer
}
.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}
.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}
.rating>input:checked~label:before {
    opacity: 1
}
.rating:hover>input:checked~label:before {
    opacity: 0.4
}