@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color:white;
  background-color: black;
}
h1
{
  font-family: 'Permanent Marker', cursive;
}
.content {
  border: 5px solid black;
}
img {
 max-width: 100%;
  
}
.row
{
  object-fit: fill;
  background-color: black;
  color: white;
  
}