@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
 

}

.dropdown-container {
  position: relative;
}

.dropdown-menu{
  top: 100%;
  right: 0;
  margin-left: -100px;
}

.container {
 justify-content: left; 
  
}

body {
  margin-bottom: 60px;
  color: black;
  background-color: white;
  width: 100%;
  height: auto;
  background-image: url("../Images/grayscale_transparent1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
  
}

ul {
list-style-type: none; 
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
}

h3 {
  padding: 10px;
}

h4 {
  padding: 5px;
}

a {
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
}

.dropdown-menu, dropdown-toggle {
  font-family: 'Permanent Marker', cursive;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #419fec;
}

a:active {
  text-decoration: none;
  color: #617181;
}

.dropdown-menu{
  font-family: 'Permanent Marker', cursive;
  color: #1d0dd9;
  background-color: white;
}

img {
 max-width: 100%;
}

.field-validation-error {
  color:red;
  font-size: smaller;
}
