@using System.Net
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebDevStripboeken</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebDevStripboeken.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <<div class="row">
        <div class="col-2 content"><a href="../home"><img src="/Images/Comic Collector.png" alt="logo"></img></a></div>
        <div class="col-2 content"><a href="../home">Home</a></div>
        <div class="col-2 content"><a href="../collections">Collections</a></div>
        <div class="col-4 content">Searchbar</div>
        <div class="col-2 content">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Hello @ViewData["User"]
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                @switch (ViewData["User"])
                {
                    case "Guest":
                        <li><a class="dropdown-item" href="../login">Log-In</a></li>
                        break;
                    default:
                        <li><a class="dropdown-item" href="../profile">Profile</a></li>
                        <li><a class="dropdown-item" href="../settings">User settings</a></li>
                        <li><a class="dropdown-item" href="#">Log-Out (delete and renew cookie)</a></li><!--Context.Response.Cookies.Delete("user") -->
                        break;
                }
            </ul>
        </div>
    </div>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - WebDevStripboeken - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>