<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebDevStripboeken</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebDevStripboeken.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <<div class="row content">
        <div class="col-4">Hello, @ViewData["User"]</div>
        <div class="col-4">basic search form</div>
        @switch (ViewData["Title"])
            {
                case "Home":
                    <div class="col-4"><a asp-page="LogIn">Log-In</a>
                    </div>
                    break;
                case "Log-In":
                    <div class="col-4"><a asp-page="Home">Back</a>
                    </div>
                    break;
            }
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<!--<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - WebDevStripboeken - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>